﻿<div id="foot">
<div class="footfenge"></div>
<table width="98%" border="0" cellspacing="0" height="104" cellpadding="0" align="center">
  <tr>
    <td width="30%" align="center"><img src="$skinpath$/images/cxt.gif" /><br /><a href="http://gaylkj688.cn.alibaba.com" title="进入阿里巴巴诚信通网站" target="_blank" class="bold">阿里巴巴诚信通会员</a></td>
    <td align="left">
    <p>版权所有：广安市娱乐科技有限公司 网站ICP备案号：<a href="http://www.miibeian.gov.cn">粤ICP备09122969号</a></p>
    <!--<p>联系电话：+86-20-39977130 传真号码：+86-20-39977130</p>-->
    <p>移动电话：+86-18924115908</p>
    <p>详细地址：中国广州市番禺迎宾路 <a href="/admin/login.asp">后台管理</a>&nbsp;<script src='http://s55.cnzz.com/stat.php?id=795360&web_id=795360' language='JavaScript' charset='utf-8'></script></p>
    </td>
  </tr>
</table>

</div>