﻿$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">当前您的位置：<a href="/" title="返回广州777机供应广州37机供应首页">首页</a> > 技术资料</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/jishu.asp" title="各类游戏机产品技术相关资料，使用说明">技术资料</a>&nbsp;&nbsp;<span>Technical</span></div>
    </div>
    <div class="intro">
        <div class="classlist">
        <ul>
        $getnews$        
       
        </ul>
        </div>
        $pages$        
    </div> 	
    
</div>
</div>
$foot$

</body>
</html>
